.vs/
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO/bin
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO/obj
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO.Android/bin
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO.Android/obj
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO.iOS/bin
TRABAJO_DEL_CURSO/TRABAJO_DEL_CURSO.iOS/obj